/* ---------- CSS Practica 1 - IC ----------*/

.header {
    background-color: #F7F7F7;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.logo {
	height: 100px;
	width: auto;
}

.logo-text {
    color: #0469B1;
    font-size: 40px;
    font-weight: bold;
}

.body {
    background-color: #E1E2E1;
    color: #000000;
}

/* Grid */
.grid {
    display: grid;
    border: 1px solid black;

}

.cell {
    border: 1px solid grey;
    width: 100%;
    height: 100%;

    min-width: 60px;
    max-width: 60px;
    min-height: 60px;
    max-height: 60px;

    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/suelo.jpg");
    background-size: cover;
}

.number {
    position: absolute;
    z-index: 5;
    margin-left: 25px;
    margin-top: 20px;

    display:flex;
    justify-content: center;
    align-items: center;

    height: 33px;
    width: 33px;

    font-weight: bold;
    color: #000000; 
    background-image: url("../img/etiqueta.png");
    background-size: cover;
}

.number > span {
    padding-bottom: 7px;
    padding-left: 5px;
}

/* Elems */
.btn {
    background-color: #0469B1;
    color: #FFFFFF;
}

#findPathBtn {
    background-color: #E00024; 
}

form-group, label {
	font-size:18px;
}


/* TV Modal */
.modal-content {
    background-image: none !important;
    border: none !important;
}

#tv-img {
    position: absolute;
    z-index: -7;
}

#tv-content {
    position: absolute;
    z-index: -8;
    padding: 15px;
}

/* Node list */
.legend-node {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    padding: 5px 0px;
}

.legend-node:hover {
    font-weight: bold;
    color:rgb(152, 152, 152);
    border: 1px solid #E1E2E1;
    background-color: #F7F7F7;
    cursor: pointer;
}

.legend-node:active {
    font-weight: bold;
    border: 1px solid #E1E2E1;
    background-color: #E1E2E1;
}

.not-allowed {
    cursor: not-allowed !important;
}

/* Tom the cat */
.tom {
    position: absolute;
    z-index: 100;

    bottom: 20px;
    left: auto;
    right: 5px;

    background: none;
}

.tom-img {
    height: 400px;
    padding-left: 50px;
}

.popover {
    z-index: 1;
}

.popover-body {
    font-size: 24px;
}

.no-path {
    color: #E00024;
}